.bg_brofil{
	background-image: url(../../public/images/bg_profil.jpg);
	height: 300px;
	background-size: cover;
	background-position: center;
}

.account_container .row{
	margin-top: -100px;
	opacity: .9;
}