.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.imgDiv{
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-align:center;
}
.imgDiv .fadedbox {
    background-color: #443369;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 360px;
    height: 100px;
    padding: 40px 20px 90px 15px;
}
.imgDiv:hover .fadedbox {
    opacity: 0.8; 
}
.imgDiv .text {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
}
.imgDiv .text {
    opacity: 0;
    margin-right: 5px;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
}
.imgDiv:hover .text,
.imgDiv:focus .text {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}
.moreCat:hover{
  transition: 0.3s ease;
  background-color: #FFF !important;
  color: #443369 !important;
  box-shadow: 0 5px 0 #443369;
  border: 1px solid #443369;
  font-weight: bold;
}



/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}